:root {
  --card-bg: oklch(0.2 0 264);
  --card-bg-hover: rgba(0, 0, 0, 0.75);
  --card-border-radius: 1rem;
  --card-img-padding: 0.5rem;
  --card-content-padding: 0.5rem;
  --shadow-s: inset 0 1px 2px #ffffff30,
  0 1px 2px #00000030,
  0 2px 4px #00000015;
}

@font-face {
  font-family: Satoshi;
  src: url(/assets/fonts/Satoshi-Regular.woff2) format('woff2'),
  url(/assets/fonts/Satoshi-Regular.woff) format('woff'),
  url(/assets/fonts/Satoshi-Regular.ttf) format('truetype'),
  url(/assets/fonts/Satoshi-Regular.eot) format('embedded-opentype');
}

body {
  background-color: oklch(0.1 0 264);
  font-family: Satoshi, sans-serif;
}

@mixin text-truncate($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncate-2 {
  @include text-truncate(2);
}

.text-truncate-4 {
  @include text-truncate(4);
}

.text-truncate-6 {
  @include text-truncate(6);
}

.text-muted {
  color: #b9b9b9 !important;
}

@mixin img-fluid {
  max-width: 100%;
  height: auto;
}

.shikk-element {
  border-radius: var(--card-border-radius);
  background-color: var(--card-bg);
  overflow: hidden;
  box-shadow: var(--shadow-s);

  a {
    display: block;
    text-decoration: none;
    color: white;
    position: relative;
  }

  .shikk-element-content {
    padding: var(--card-content-padding);

    .shikk-element-content-img {
      border-radius: calc(var(--card-border-radius) - var(--card-content-padding));

      &:not(.responsive) {
        @include img-fluid;
      }

      &, .responsive {
        @media (min-width: 576px) {
          width: 100%;
          object-fit: cover;
        }

        @media (max-width: 576px) {
          @include img-fluid;
        }
      }
    }

    .platforms {
      display: flex;
      position: absolute;
      top: var(--card-img-padding);
      right: var(--card-img-padding);
    }

    .duration {
      display: flex;
      position: absolute;
      bottom: var(--card-img-padding);
      right: var(--card-img-padding);
      background-color: var(--card-bg-hover);
      padding: 0.25rem 0.5rem;
      border-radius: calc(var(--card-border-radius) - var(--card-img-padding));
      font-size: 0.75rem;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: calc(var(--card-content-padding) * 2);
    border: 1px solid var(--card-bg);
    border-radius: var(--card-border-radius);
    overflow: hidden;
    background-color: var(--card-bg-hover);
    backdrop-filter: blur(0.25rem);
  }

  .dynamic-icon i {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: var(--card-border-radius);
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    .dynamic-icon i {
      transform: scale(1.2);
    }
  }
}

.anime-infos {
  @media (min-width: 576px) {
    position: relative;
    margin-top: -100px;
  }

  @media (max-width: 575px) {
    position: relative;
    margin-top: -22.5rem;
  }
}

.btn, .dropdown-menu {
  border-radius: var(--card-border-radius);
}

.text-gradient {
  background: linear-gradient(to right, #ffffff, #9ca3af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-section {
  height: 100vh;
  min-height: 100vh;

  @media (min-width: 576px) {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .hero-header {
    padding-bottom: 2rem;

    h1 {
      font-size: 2rem;
      margin-bottom: 0;
    }

    span.text-muted {
      font-size: 1.25rem;
    }
  }

  .buttons-row {
    display: flex;

    .btn {
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
    }
  }
}