:root {
  --card-bg: #FFFFFF14;
  --card-bg-hover: rgba(0, 0, 0, 0.75);
  --card-border-radius: 1rem;
  --card-img-padding: 0.5rem;
  --card-content-padding: 0.5rem;
}

@font-face {
  font-family: Satoshi;
  src: url(/assets/fonts/Satoshi-Regular.woff2) format('woff2'),
  url(/assets/fonts/Satoshi-Regular.woff) format('woff'),
  url(/assets/fonts/Satoshi-Regular.ttf) format('truetype'),
  url(/assets/fonts/Satoshi-Regular.eot) format('embedded-opentype');
}

body {
  background-color: #000;
  font-family: Satoshi, sans-serif;
}

@mixin text-truncate($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncate-2 {
  @include text-truncate(2);
}

.text-truncate-4 {
  @include text-truncate(4);
}

.text-truncate-6 {
  @include text-truncate(6);
}

.text-muted {
  color: #b9b9b9 !important;
}

@mixin img-fluid {
  max-width: 100%;
  height: auto;
}

.shikk-element {
  border-radius: var(--card-border-radius);
  background-color: var(--card-bg);
  overflow: hidden;

  a {
    text-decoration: none;
    color: white;
    position: relative;
  }

  .shikk-element-content {
    padding: var(--card-content-padding);

    .shikk-element-content-img {
      border-radius: calc(var(--card-border-radius) - var(--card-content-padding));

      &:not(.responsive) {
        @include img-fluid;
      }

      &, .responsive {
        @media (min-width: 576px) {
          width: 100%;
          object-fit: cover;
        }

        @media (max-width: 576px) {
          @include img-fluid;
        }
      }
    }

    .platforms {
      display: flex;
      position: absolute;
      top: var(--card-img-padding);
      right: var(--card-img-padding);
    }

    .duration {
      display: flex;
      position: absolute;
      bottom: var(--card-img-padding);
      right: var(--card-img-padding);
      background-color: var(--card-bg-hover);
      padding: 0.25rem 0.5rem;
      border-radius: calc(var(--card-border-radius) - var(--card-img-padding));
      font-size: 0.75rem;
    }
  }

  .overlay {
    border: 1px solid var(--card-bg);
    border-radius: var(--card-border-radius);

    background-color: var(--card-bg-hover);
    backdrop-filter: blur(0.25rem);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: calc(var(--card-content-padding) * 2);
  }
}

.callout {
  padding: 1.25rem;
  color: #fff;
  background-color: #202020;
  border-left: 0.25rem solid #5a5a5a;
  display: flex;
  align-items: center;
}

.anime-card {
  margin-top: 1rem;
  position: relative;
  color: black;
  border-radius: var(--card-border-radius);

  .anime-banner {
    border-radius: var(--card-border-radius);
    height: 50vh;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .anime-gradient {
    border-radius: var(--card-border-radius);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.5rem);
  }

  .anime-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: var(--card-border-radius);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.25rem);
    z-index: 1;
    padding: 1rem;
    max-width: 50%;
    max-height: 50%;

    @media (max-width: 768px) {
      max-width: 90%;
      max-height: 90%;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 1rem;
      max-height: 4.5rem;
      overflow: hidden;

      .tag {
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(0.25rem);
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
        color: #282828;
        text-decoration: none;

        &:hover {
          transform: scale(1.05);
          transition: transform 0.2s;
        }
      }
    }

    .title {
      font-size: 1.5rem;
    }

    .description {
      margin-top: 1rem;
      margin-bottom: 0;
      font-size: 1rem;
      @include text-truncate(3);
      color: #282828;

      @media (max-width: 768px) {
        @include text-truncate(5);
      }
    }
  }
}

.filter-bar {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--card-bg);
  border-radius: var(--card-border-radius);
  padding: 0.5rem 1rem;
}