name: Development Workflow

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
  push:
    branches: [master]

jobs:
  test_with_valkey:
    name: Test and analyze (with Valkey)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Dependencies
        uses: ./.github/actions/setup

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Start valkey
        run: docker run -d --name valkey -p 6379:6379 valkey/valkey:8.1-alpine

      - name: Analyze push
        if: github.event_name == 'push'
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: ./gradlew sonar --info

      - name: Analyse pull request
        if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]'
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: ./gradlew sonar --info -Dsonar.pullrequest.key=${{ github.event.pull_request.number }} -Dsonar.pullrequest.branch=${{ github.event.pull_request.head.ref }} -Dsonar.pullrequest.base=${{ github.event.pull_request.base.ref }} -Dsonar.qualitygate.wait=true

      - name: Build and test
        if: github.event_name == 'pull_request' && github.actor == 'dependabot[bot]'
        run: ./gradlew clean test --info

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Dependencies
        uses: ./.github/actions/setup

      - name: Build and test
        run: ./gradlew clean test --info

  test-compose:
    name: Test docker image (${{ matrix.platform }})
    runs-on: ubuntu-latest
    needs: [test_with_valkey, test]
    strategy:
      fail-fast: false
      matrix:
        platform: [linux/amd64, linux/arm64]
    steps:
      - uses: actions/checkout@v6

      - name: Setup Dependencies
        uses: ./.github/actions/setup

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: ${{ matrix.platform }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        run: gradle clean installDist -x test

      - name: Start services
        run: docker compose up -d --build --wait

      - name: Show logs on failure
        if: failure()
        run: |
          echo "=== CONTAINER STATUS ==="
          docker compose ps -a
          echo "=== CONTAINER LOGS ==="
          docker compose logs

      - name: Stop services
        if: always()
        run: docker compose down