name: Development Workflow

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
  push:
    branches: [master]

jobs:
  test_with_valkey:
    name: Test and analyze (with Valkey)
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Setup Dependencies
        uses: ./.github/actions/setup

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Start valkey
        run: docker run -d --name valkey -p 6379:6379 valkey/valkey:8.1-alpine

      - name: Build and test
        run: ./gradlew clean test koverXmlReport --info

      - name: Create coverage report
        run: |
          mkdir -p ./.qodana/code-coverage
          cp ./build/reports/kover/*.xml ./.qodana/code-coverage/

      - name: Archive code coverage results
        uses: actions/upload-artifact@v6
        with:
          name: code-coverage-report.zip
          path: ./.qodana/code-coverage

      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2025.3
        with:
          pr-mode: false
          upload-result: true
          args: "-i,./,--baseline,qodana.sarif.json,--fail-threshold,200,--coverage-dir,./.qodana/code-coverage"
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
          QODANA_ENDPOINT: 'https://qodana.cloud'

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Dependencies
        uses: ./.github/actions/setup

      - name: Build and test
        run: ./gradlew clean test --info

  test-compose:
    name: Test docker image (${{ matrix.platform }})
    runs-on: ubuntu-latest
    needs: [test_with_valkey, test]
    strategy:
      fail-fast: false
      matrix:
        platform: [linux/amd64, linux/arm64]
    steps:
      - uses: actions/checkout@v6

      - name: Setup Dependencies
        uses: ./.github/actions/setup

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: ${{ matrix.platform }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        run: gradle clean installDist -x test

      - name: Start services
        run: docker compose up -d --build --wait

      - name: Show logs on failure
        if: failure()
        run: |
          echo "=== CONTAINER STATUS ==="
          docker compose ps -a
          echo "=== CONTAINER LOGS ==="
          docker compose logs

      - name: Stop services
        if: always()
        run: docker compose down